* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: bolder;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    border: none;
    background-color: #FD6E0A;
    padding: 19px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

/* specific styles */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    /* multiple BG separated by comma */
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    /* multiple BG position separated by comma */
    background-position: 23px 38px, bottom right;
}

nav {
    /* figma nav = 1140px
    viewport 80% = 1600px
    nav width = 1140/1600 = 71% */
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner {
    /* border: 1px solid red; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    /* semi-bold = 600 from fonts.google.com */
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}

#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about, #skills, #resume {
    padding-top: 130px;
}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding: 131px 156px;
    text-align: center;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4 {
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

#skills .skills-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    max-width: 267px;
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000027;
    border-radius: 5px;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    text-align: justify;
}

#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    /* top left-right bottom */
    margin: 113px auto 50px;
    display: flex;
    gap: 24px;
}

.resume-container .section-title {
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-container hr {
    margin: 30px 0;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card .card-text {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

footer {
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container h2 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container p {
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

.footer-container .icons img {
    margin-right: 24px;
}

.footer-container form input[type="text"], .footer-container form input[type="email"], .footer-container form textarea {
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: none;
    color: #757575;
}